@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?aa8k4r');
  src:  url('fonts/icomoon.eot?aa8k4r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?aa8k4r') format('truetype'),
    url('fonts/icomoon.woff?aa8k4r') format('woff'),
    url('fonts/icomoon.svg?aa8k4r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-star-full1:before {
  content: "\e9d9";
}
